[[$member_head]]
<!DOCTYPE html>
<html lang="[[++cultureKey]]">
	<head>
		[[$Head]]
	</head>
	<body>
		[[$Navbar]]
		<div class="container main_content">

			<div class="page-header">
				<h1>[[%investable.startup_opportunities? &topic=`default` &namespace=`investable` &language=`en`]]</h1>
			
				[[$member_navigation]]
				<div class="allclear"></div>
			</div>
			<div class="member_content">
				 <div class="startup_filters">
				 	<span class="filter_title">[[%member.filter_by? &topic=`default` &namespace=`investable` &language=`en`]]:</span>
				 	<select name="startup_stage" id="startup_stage">
				 		<option value="">All Stages</option>
				 		[[get_stage_list]]
				 	</select>
				 	<select name="startup_industry" id="startup_industry">
				 		<option value="">All Industries</option>
				 		[[get_industry_list]]
				 	</select>
				 
				 </div>
				 <div class="startup_list">
				    [[!getResources? &parents=`36`  &tpl=`startup_list_chunk` &sortby=`{"publishedon":"DESC","menuindex":"ASC"}` &limit=`100` &depth=`0` &showHidden=`1` &includeContent=`0` &hideContainers=`0` &includeTVs=`1` &processTVs=`1` ]]
				    <div class="allclear"></div>
				 </div>
			</div>
		</div>
		[[$Footer]]
		[[$member_footer]]
		<script type="text/javascript">
			$(document).ready(function(){
				$(".startup_item").click(function(e){
					//e.preventDefault();
					//window.location.href=$(this).data("url");
				});
				
				$(".startup_item").each(function(ind){
					updateCountdown($(this).attr("id"));
				    updateFundedPercentage($(this).attr("id"));
				});
				
				$(".video_badge a.watch_video").fancybox({
					maxWidth	: 800,
					maxHeight	: 600,
					fitToView	: false,
					width		: '70%',
					height		: '70%',
					autoSize	: false,
					closeClick	: false,
					openEffect	: 'none',
					closeEffect	: 'none'
				});
				
			});		
			
			
			
			
					
           
            
		</script>
	</body>
</html>