[[$member_head]]
<!DOCTYPE html>
<html lang="[[++cultureKey]]">
	<head>
		[[$Head]]
	</head>
	<body>
		[[$Navbar]]
		<div class="container main_content">

			<div class="page-header">
				<h1>[[%investable.startup_opportunities? &topic=`default` &namespace=`investable` &language=`en`]]</h1>
			
				[[$member_navigation]]
				<div class="allclear"></div>
			</div>
			<div class="member_content">
				<div class="quick_facts">
					<div class="project_logo col-md-6">
						<img src="[[*content_image:phpthumbof=`w=500&h=300`]]" title="[[*longtitle]]" /> 
						
					</div>
					<div class="project_chart col-md-6"> 
						<div id="chart_div" style="width: 100%; height:300px"></div>
						<h3><span class="funded_percentage"></span> Funded</h3>
					</div>
					<div class="allclear"></div>
					<div class="fund_status">
						<div class="status_item col-md-2" id="goal" data-value="[[*goal]]">
							<div class="status_name">Goal</div>
							<div class="status_number">[[*goal:is=``:then=`0`:else=`[[*goal]]`]]</div>
						</div>
						<div class="status_item col-md-2" id="raised" data-value="[[*raised]]">
							<div class="status_name">Pledged</div>
							<div class="status_number">[[*raised:is=``:then=`0`:else=`[[*raised]]`]]</div>
						</div>
						<div class="status_item col-md-2" id="backers" data-value="[[*backers]]">
							<div class="status_name">Backers</div>
							<div class="status_number">[[*backers:is=``:then=`0`:else=`[[*backers]]`]]</div>
						</div>
						<div class="status_item col-md-6" id="countdown" data-target_date="[[*unpub_date]]">
							<div class="statu_name">Time left</div>
							<div class="status_number"></div>
						</div>
						<div class="allclear"></div>
					</div>
					
				</div>
				
				<div class="company_info">
					<div class="company_details col-md-8">
						<h2>[[*longtitle]]</h2>
						<div class="intro">[[*introtext:nl2br]]</div>
						
						[[*youtube:ne=``:then=`
							<iframe width="100%" height="300" src="//www.youtube.com/embed/[[getYouTubeId? &input=`[[*youtube]]`]]" frameborder="0" allowfullscreen></iframe>
							
							
						`]]
						<div class="company_description">
							
							
							[[*content:ne=``:then=`<h3>Company Description</h3>[[*content]]`]]
							[[*product_description:ne=``:then=`<h3>Product / Service Description</h3>[[*product_description]]`]]
							[[*business_model:ne=``:then=`<h3>Business Model and Monetization</h3>[[*busines_model]]`]]
							[[*market:ne=``:then=`<h3>Addressable Market</h3>[[*market]]`]]
							[[*competitors:ne=``:then=`<h3>Competitve Landscape</h3>[[*competitors]]`]]
							[[*news:ne=``:then=`<h3>News, Press and Testimonials</h3>[[*news]]`]]
							[[*use_of_funds:ne=``:then=`<h3>Use of Funds</h3>[[*use_of_funds]]`]]
							[[*investor_details:ne=``:then=`<h3>Investor Details</h3>[[*investor_details]]`]]
							
						</div>
					</div>
					<div class="company_founder col-md-4">
						
						[[!getUserById? &uid=`[[*founder]]` &tpl=`founder_profile`]] 
					</div>
					<div class="allclear"></div>
				</div>
				
				<div class="floating_content">
					<div class="support_company">
						<a class="btn support_button" title="Support" href="#">Support</a>
						<a class="btn support_button" title="Follow" href="#">Follow</a>
						<a class="btn support_button" title="Meet The Startup" href="#">Meet</a>
					</div>
				</div>
			</div>
			 
		</div>
		[[$Footer]]
		[[$member_footer]]
		<script type="text/javascript">  
		    var percentage_raised = 0;
			$(document).ready(function(){
				var bottomPad = 80;
				
				$(window).scroll(function(e){
					$(".floating_content").finish();
					var wtop = $(window).scrollTop();
					var wheight = $(window).height();
					var currTop = $(".floating_content").offset().top;
					var diff = currTop - (top+wheight);
				   
					$(".floating_content").animate({
						top: (wtop+wheight-bottomPad)+"px",	
					}, 1500, function(){});
					
				});
				
				var investment_goal = $("#goal").data("value");
				var investment_raised = $("#raised").data("value");
				
				percentage_raised = Math.ceil(investment_raised*100/investment_goal);
				console.log(percentage_raised);
				$(".project_chart h3 .funded_percentage").html(percentage_raised +"%"); 
				
				setInterval(function(){
					update_countdown($("#countdown").data("target_date"));
					
				}, 1000);
				
			});
			
			
			
			function update_countdown(end_date){
				var target_date = new Date(end_date).getTime();
				var days, hours, minutes, seconds;
				var current_date = new Date().getTime();
                var seconds_left = (target_date - current_date) / 1000;
                
                days = parseInt(seconds_left / 86400);
				seconds_left = seconds_left % 86400;
 
				hours = parseInt(seconds_left / 3600);
				seconds_left = seconds_left % 3600;
  
				minutes = parseInt(seconds_left / 60);
				seconds = parseInt(seconds_left % 60);
				$("#countdown .status_number").html(days + " <span class='countdown_unit'>Days</span> "+ hours +" <span class='countdown_unit'>Hours</span> "+minutes+" <span class='countdown_unit'>Minutes</span> "+seconds +" <span class='countdown_unit'>Seconds</span>");
				
			}

		</script>
		
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Status', 'Percentage'],
          ['Funded',    percentage_raised ],
          ['Available',    (100-percentage_raised)]
        ]);

        var options = {
          
          pieHole: 0.3,
         backgroundColor: "transparent",
         tooltip : {text:'percentage'},
          legend: 'none',
          pieSliceText:'none',
          pieSliceBorderColor: "a40a42",
  		  colors: ['#a40a42', 'transparent']
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
	</body>
</html>