[[$member_head]]
<!DOCTYPE html>
<html lang="[[++cultureKey]]">
	<head>
		[[$Head]]
	</head>
	<body>
		[[$Navbar]]
		<div class="container main_content">

			<div class="page-header">
				<h1>[[*longtitle]]</h1>
			
				[[$member_navigation]]
				<div class="allclear"></div>
			</div>
			<div class="member_content">
				<h2>[[%startups.favourite_companies? &topic=`default` &namespace=`investable` &language=`en`]]</h2>
				<div class="favourite_company_list company_list">
					[[!get_investor_favourite_companies?]]
					<div class="allclear"></div>
				</div>
				
				
			</div>
		</div>
		[[$Footer]]
		[[$member_footer]]
		<script type="text/javascript">
			$(document).ready(function(){
			
			   	$(".startup_item .startup_img .startup_logo").click(function(e){
					
					window.location.href=$(this).parent().parent().data("url");
				});
				
				$(".startup_item .startup_quickinfo h3").click(function(e){
					
					window.location.href=$(this).parent().parent().data("url");
				});
				
			   
				$(".startup_item").each(function(ind){
					updateCountdown($(this).attr("id"));
				    updateFundedPercentage($(this).attr("id"));
				});
				
				$(".video_badge a.watch_video").fancybox({
					maxWidth	: 800,
					maxHeight	: 600,
					fitToView	: false,
					width		: '70%',
					height		: '70%',
					autoSize	: false,
					closeClick	: false,
					openEffect	: 'none',
					closeEffect	: 'none'
				});
							
			});		
			

		</script>
	</body>
</html>